*{
    margin: 0;
    /* I almost forgot to add border-box, so that margin + padding are included; so boxes are actual width + height */
    box-sizing: border-box;
}

body{
    /* Learned about viewport height, and took from 06-flex-layout exercise */
    height: 100vh;  

    display: flex;
    flex-direction: column;
    margin: 0; 
}

.content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* making content boxes similar size */
.content-1, .content-2, .content-3, .content-4{
    flex: 1;
}

.header, .footer{
    display: flex;
    padding: 20px;
    /* Header + Footer: Updated background color */
    background-color: #1f2937;
    
 
}

.header{
    /* putting space between the Header logo and the links */
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header-logo{
    font-weight: bolder;

}


/* This is just to help me visually */
div{
    border: 5px solid blue;
}


