*{
    margin: 0;
    /* I almost forgot to add border-box, so that margin + padding are included; so boxes are actual width + height */
    box-sizing: border-box;
}

body{
    /* Learned about viewport height, and took from 06-flex-layout exercise */
    height: 100vh;  

    display: flex;
    flex-direction: column;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;

}

.header, .footer{
    display: flex;
    padding: 20px;
    /* Header + Footer: Updated background color */
    background-color: #1f2937;
    
 
}

.header{
    /* putting space between the Header logo and the links */
    justify-content: space-between;
    color: white;
}
.header-logo{
    font-weight: bolder;

}

.header-links{
    display: flex;
    gap: 10px;
}



.content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

/* making content boxes similar size */
.content-1, .content-2, .content-3, .content-4{
    flex: 1;
}


.awesome-content{
    color: white;
    width: 350px;

}
.content-1{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 100px;

}

.content-button{
    margin-top: 10px;
}

/* content-2 start */
.content-2{
text-align: center;
}

.txt-and-img-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.txt-and-img{
    width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
align-items: center;
}

.img-2{
    border: 1px solid blue;

    width: 150px;
    height: 150px;
}

.txt{
    width: 150px;
}



/* content-2 end */


button{
    background-color: #3882F6;
    color: white;
    padding: 10px;
    /* Apparently, this is how you round the button borders */
    border-radius: 4px;
    width: 100px;
    font-weight: bold;
    border: none;
}


.img{
    /* made width of image bigger */
    width: 500px;
    background-color: #6E737D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* This is just to help me visually */

div{
    border: 5px solid blue;
}


